body {
    background-image: url("https://htucker77.github.io/bpa/css/IMPORTANTBACKGROUND.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin: 0%;
    font-family: 'Oxygen', sans-serif;
}

header {
    font-size: 125%;
    line-height: 200%;
    font-weight: bold;
}

h1 {
    font-size: 40px;
}

.thewayimg {
    width: 1%;
    opacity: 1;
}

.bpacares {
    margin: 10% 20% 0 20%;
    padding: 10px;
    font-size: 90%;
    color: black;
    border: 3px solid darkgrey;
    background-color: white;
    border-radius: 20px;
    line-height: 20px;
}

.bpacares ul {
    list-style: none;
}

.bpacares1 {
    margin: 0 15% 0 15%;
}

footer {
    margin: 5% 20% 2% 20%;
    font-size: 80%;
    color: black;
    border: 3px solid darkgrey;
    background-color: white;
    border-radius: 20px;
}

footer img {
    width: 1%;
}

.listopacity {
    opacity: 0.5;
}
